In [ ]:
import requests
import pandas as pd
import json
import datetime

In [ ]:
#main url: https://api.nytimes.com/svc/books/v3/lists
#format: .json
#NYTIMES API KEY: api-key=A VOSSA KEY PARA ACEDER À API AQUI

#There are four main requests types:

#1 Get Best Sellers List Details
#2 Get Overview of Best Sellers Lists
#3 Get Best Sellers List Names
#4 Get Book's Best Sellers List History

In [ ]:
#resumindo o que estou a fazer aqui: 
#quero ter uma forma de aceder aos bestsellers do NYTimes com a atualização mais recente
#fazer correlação com a lista dos mais vendidos neste momento na Amazon Books e devolve reviews, estrelas, preço

In [ ]:
#Trazer o Top 5 dos best sellers nas várias categorias na atualização mais recente à data destas pesquisas (published_date=2021-06-06)

#url = 'https://api.nytimes.com/svc/books/v3/lists/overview.json?published_date=2021-06-06&api-key=A VOSSA KEY PARA ACEDER À API AQUI'

#Trazer o Top 5 dos best sellers nas várias categorias na atualização mais recente para todas as categorias
url = 'https://api.nytimes.com/svc/books/v3/lists/overview.json?api-key=A VOSSA KEY PARA ACEDER À API AQUI'

response = requests.get(url)

#test the connection
response.status_code

In [ ]:
#put it into a json file format
response.json()

In [ ]:
#create a dataframe
df_overview = pd.DataFrame(response.json())
df_overview

In [ ]:
#normalize the dataframe
df_overview_normalized = pd.json_normalize(response.json())
df_overview_normalized

In [ ]:
#let's see what's inside the list of dictionaries
df_overview_normalized['results.lists'][0]

In [ ]:
#it shows all the lists. let's create a dataframe
nowWhat = pd.DataFrame(df_overview_normalized['results.lists'][0])
nowWhat

In [ ]:
### creating dataframes for each list name and add a column with the correspondent list

In [ ]:
#combined_print_and_e_book_fiction
books0 = pd.DataFrame(nowWhat['books'][0])
books0.insert(0, 'list_name', 'Combined Print & E-Book Fiction')

#combined_print_and_e_book_nonfiction
books1 = pd.DataFrame(nowWhat['books'][1])
books1.insert(0, 'list_name', 'Combined Print & E-Book Nonfiction')

#hardcover_fiction 
books2 = pd.DataFrame(nowWhat['books'][2])
books2.insert(0, 'list_name', 'Hardcover Fiction')

#hardcover_nonfiction 
books3 = pd.DataFrame(nowWhat['books'][3])
books3.insert(0, 'list_name', 'Hardcover Nonfiction')

#trade_fiction_paperback 
books4 = pd.DataFrame(nowWhat['books'][4])
books4.insert(0, 'list_name', 'Trade Fiction Paperback')

#paperback_nonfiction 
books5 = pd.DataFrame(nowWhat['books'][5])
books5.insert(0, 'list_name', 'Paperback Nonfiction')

#advice_how_to_and_miscellaneous 
books6 = pd.DataFrame(nowWhat['books'][6])
books6.insert(0, 'list_name', 'Advice, How-To & Miscellaneous')

#childrens_middle_grade_hardcover 
books7 = pd.DataFrame(nowWhat['books'][7])
books7.insert(0, 'list_name', 'Children’s Middle Grade Hardcover')

#picture_books 
books8 = pd.DataFrame(nowWhat['books'][8])
books8.insert(0, 'list_name', 'Children’s Picture Books')

#series_books 
books9 = pd.DataFrame(nowWhat['books'][9])
books9.insert(0, 'list_name', 'Children’s Series')

#young_adult_hardcover 
books10 = pd.DataFrame(nowWhat['books'][10])
books10.insert(0, 'list_name', 'Young Adult Hardcover')

### the following dataframes are not available now. when i did the first connections with API, it showed the lists under this note

#audio_fiction 
#books11 = pd.DataFrame(nowWhat['books'][11])
#books11.insert(0, 'list_name', 'Audio Fiction')

#audio_nonfiction 
#books12 = pd.DataFrame(nowWhat['books'][12])
#books12.insert(0, 'list_name', 'Audio Nonfiction')

#business_books 
#books13 = pd.DataFrame(nowWhat['books'][13])
#books13.insert(0, 'list_name', 'Business')

#graphic_books_and_manga 
#books14 = pd.DataFrame(nowWhat['books'][14])
#books14.insert(0, 'list_name', 'Graphic Books and Manga')

#mass_market_monthly 
#books15 = pd.DataFrame(nowWhat['books'][15])
#books15.insert(0, 'list_name', 'Mass Market')

#middle_grade_paperback_monthly 
#books16 = pd.DataFrame(nowWhat['books'][16])
#books16.insert(0, 'list_name', 'Middle Grade Paperback')

#young_adult_paperback_monthly 
#books17 = pd.DataFrame(nowWhat['books'][17])
#books17.insert(0, 'list_name', 'Young Adult Paperback')

In [ ]:
#concatenate the previous dataframes into a single one
allTogether = pd.concat([books0, books1, books2, books3, books4, books5, books6, books7, books8, books9, books10], axis = 0)

In [ ]:
pd.DataFrame(allTogether)

In [ ]:
## Get all the column names 
for col_name in allTogether.columns: 
    print(col_name)

In [ ]:
#remove useless columns
dropping_allTogether = allTogether.drop(['age_group', 'article_chapter_link', 'book_image', 'book_image_width', 'book_image_height', 'first_chapter_link', 'price', 'buy_links'], axis=1)
dropping_allTogether

In [ ]:
#update list of columns
for col_name in dropping_allTogether.columns: 
    print(col_name)
    
    
#number of columns    
len(dropping_allTogether.columns)
#number of rows
#len(dropping_allTogether)

In [ ]:
#create a csv with the dataframe above
allTogether.to_csv('Top 5 in all NYT Best Sellers categories.csv', index=True)

In [ ]:
#pegar link de todas as linhas dentro da coluna "amazon url" do dataframe e fazer webscraping de cada uma
#1selecionar coluna do pandas... todas as linhas da coluna
#2fazer metodo transpose para ter todos os links como colunas
#3 transformar todas linhas numa lista para fazer um for loop



#tentar criar uma função para automatizar requests do top5 livros em todas as categorias e devolver dataframes conforme os resultados
#limpar colunas: age group, article chapter link, book image, width height, first chapter link, price, buy_links